swagger: '2.0'
info:
  version: '0.0.1'
  title: RBKmoney Wallet API
  description: >

    RBKmoney Wallet API является базовой и единственной точкой взаимодействия с
    платформой кошельков. Все изменения состояний платформы осуществляются с
    помощью вызовов соответствующих методов API. Любые сторонние приложения,
    включая наши веб-сайты и другие UI-интерфейсы являются внешними
    приложениями-клиентами.

    RBKmoney API работает поверх HTTP-протокола. Мы используем REST архитектуру,
    схема описывается в соответствии со [Swagger](http://swagger.io/). Коды
    возврата описываются соответствующими HTTP-статусами. Платформа принимает и
    возвращает значения JSON в теле запросов и ответов.

    ## Формат содержимого

    Любой запрос к API должен выполняться в кодировке UTF-8 и с указанием
    содержимого в формате JSON.

    ```
      Content-Type: application/json; charset=utf-8
    ```

    ## Формат дат

    Платформа принимает значения date-time в стандарте RFC 3339 с обязательным
    указанием UTC-оффсета, например:

    ```
      2017-01-01T00:00:00Z
      2017-01-01T00:00:01+00:00
    ```

    ## Максимальное время обработки запроса

    К любому вызову методов API можно добавить параметр отсечки по времени,
    определяющий максимальное время ожидания завершения операции по запросу.
    Данная отсечка передается в соответствующем заголовке HTTP-запроса:

    ```
     X-Request-Deadline: 10s
    ```

    Значение отсечки может быть задано в формате ISO 8601 (см. [Формат дат](#section/Format-dat)), либо
    в относительных величинах, например:

    `150000ms`, `540s`, `3.5m`
    При этом возможные единицы измерения `ms`, `s`, `m`.
    В обоих случаях  не рекомендуется, чтобы задаваемое значение было
    меньше **3 секунд** и превышало **1 минуту**.

    ## Ошибки обработки запросов

    В процессе обработки запросов силами нашей платформы могут происходить
    различные непредвиденные ситуации. Об их появлении платформа сигнализирует
    по протоколу HTTP соответствующими [статусами][5xx], обозначающими ошибки
    сервера.

     |  Код    |  Описание  |
     | ------- | ---------- |
     | **500** | В процессе обработки платформой запроса возникла непредвиденная ситуация. При получении подобного кода ответа мы рекомендуем обратиться в техническую поддержку. |
     | **503** | Платформа временно недоступна и не готова обслуживать данный запрос. Запрос гарантированно не выполнен, при получении подобного кода ответа попробуйте выполнить его позднее, когда доступность платформы будет восстановлена. |
     | **504** | Платформа превысила допустимое время обработки запроса, результат запроса не определён. Попробуйте отправить запрос повторно или выяснить результат выполнения исходного запроса, если повторное исполнение запроса нежелательно. |

    [5xx]: https://tools.ietf.org/html/rfc7231#section-6.6

  termsOfService: http://rbk.money/
  contact:
    name: RBKmoney support team
    email: support@rbk.money
    url: https://rbk.money
host: api.rbk.money
basePath: /wallet/v0
schemes:
  - https
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
securityDefinitions:
  bearer:
    type: apiKey
    name: Authorization
    in: header
    description: >
      Для аутентификации вызовов мы используем [JWT](https://jwt.io).
      Cоответствующий ключ передается в заголовке.

      ```shell
       Authorization: Bearer {TOKENIZATION|PRIVATE_JWT}
      ```

security:
  - bearer: []

responses:

  BadRequest:
    description: Недопустимые для операции входные данные
    schema:
      $ref: '#/definitions/BadRequest'

  ConflictRequest:
    description: Конфликт входных данных операции
    schema:
      $ref: '#/definitions/ConflictRequest'

  NotFound:
    description: Искомая сущность не найдена

  Unauthorized:
    description: Ошибка авторизации

parameters:

  requestID:
    name: X-Request-ID
    in: header
    description: Уникальный идентификатор запроса к системе
    required: true
    type: string
    maxLength: 32
    minLength: 1

  providerID:
    name: providerID
    in: path
    description: Идентификатор провайдера
    required: true
    type: string
    maxLength: 40
    minLength: 1

  identityID:
    name: identityID
    in: path
    description: Идентификатор личности владельца
    required: true
    type: string
    maxLength: 40
    minLength: 1

  challengeID:
    name: challengeID
    in: path
    description: Идентификатор процедуры идентификации личности
    required: true
    type: string
    maxLength: 40
    minLength: 1

  walletID:
    name: walletID
    in: path
    description: Идентификатор кошелька
    required: true
    type: string
    maxLength: 40
    minLength: 1

  destinationID:
    name: destinationID
    in: path
    description: Идентификатор приёмника средств
    required: true
    type: string
    maxLength: 40
    minLength: 1

  withdrawalID:
    name: withdrawalID
    in: path
    description: Идентификатор вывода денежных средств
    required: true
    type: string
    maxLength: 40
    minLength: 1

  residence:
    name: residence
    in: query
    description: |
      Резиденция, в рамках которой производится оказание услуг,
      код страны или региона по стандарту [ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1)
    type: string
    pattern: '^[A-Za-z]{3}$'
    required: false

  amountFrom:
    name: amountFrom
    in: query
    description: Сумма денежных средств в минорных единицах
    type: integer
    format: int64
    required: false

  amountTo:
    name: amountTo
    in: query
    description: Сумма денежных средств в минорных единицах
    type: integer
    format: int64
    required: false

  currencyID:
    name: currencyID
    in: query
    description: |
      Валюта, символьный код согласно [ISO
      4217](http://www.iso.org/iso/home/standards/currency_codes.htm).
    type: string
    pattern: '^[A-Z]{3}$'

  limit:
    name: limit
    in: query
    description: Лимит выборки
    required: true
    type: integer
    format: int32
    minimum: 1
    maximum: 1000

  eventCursor:
    name: eventCursor
    in: query
    description: |
      Идентификатор последнего известного события.

      Все события, произошедшие _после_ указанного, попадут в выборку.
      Если этот параметр не указан, в выборку попадут события, начиная с самого первого.
    required: false
    type: integer
    format: int32

  eventID:
    name: eventID
    in: path
    description: |
      Идентификатор события процедуры идентификации.
    required: true
    type: integer
    format: int32

  reportID:
    name: reportID
    in: path
    description: Идентификатор отчета
    required: true
    type: integer
    format: int64

  fileID:
    name: fileID
    in: path
    description: Идентификатор файла
    required: true
    type: string
    maxLength: 40
    minLength: 1

  fromTime:
    name: fromTime
    in: query
    description: Начало временного отрезка
    required: true
    type: string
    format: date-time

  toTime:
    name: toTime
    in: query
    description: Конец временного отрезка
    required: true
    type: string
    format: date-time

  deadline:
    name: X-Request-Deadline
    in: header
    description: Максимальное время обработки запроса
    required: false
    type: string
    maxLength: 40
    minLength: 1

  webhookID:
    name: webhookID
    in: path
    description: Идентификатор webhook'а
    required: true
    type: string
    maxLength: 40
    minLength: 1

  queryIdentityID:
    name: identityID
    in: query
    description: Идентификатор личности владельца
    required: true
    type: string
    maxLength: 40
    minLength: 1

tags:

  - name: Providers
    x-displayName: Провайдеры услуг
    description: ""

  - name: Identities
    x-displayName: Владельцы
    description: ""

  - name: Wallets
    x-displayName: Кошельки
    description: ""

  - name: Deposits
    x-displayName: Пополнения
    description: ""

  - name: Withdrawals
    x-displayName: Выводы
    description: ""

  - name: Residences
    x-displayName: Резиденции
    description: ""

  - name: Currencies
    x-displayName: Валюты
    description: ""

  - name: Reports
    x-displayName: Отчеты
    description: ""

  - name: Downloads
    x-displayName: Загрузка файлов
    description: ""

  - name: Webhooks
    x-displayName: Webhooks
    description: >
      ## RBKmoney Webhooks Management API

      В данном разделе описаны методы, позволяющие управлять Webhook'ами, или
      инструментами для получения асинхронных оповещений посредством
      HTTP-запросов при наступлении одного или группы интересующих вас событий,
      например, о том, что выплата в рамках созданного кошелька была успешно
      проведена.

      ## RBKmoney Webhooks Events API

      Внимание! Только Webhooks Management API является частью платформы
      RBKmoney, а следовательно и данной спецификации. Для реализации
      обработчика присылаемых уведомлений вам необходимо будет ознакомиться со
      Swagger-спецификацей [RBKmoney Wallet Webhooks Events
      API](https://rbkmoney.github.io/wallet-webhook-events-api/).
